<!DOCTYPE html>
<meta charset="UTF-8">
<style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
</style>
<html>
    <head>
        <title>{{ test.name }}</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
    <p class="w3-container">
       <div class="left">{{ subject }}</div>
       <div class="right">Теория сетей</div>

    <div class="w3-container">
        <p class="center">{{ name }}</p>
        <p class="center">Вариант 1</p>
    </div>

    <div class="w3-container">
        <div class="w3-left-align"><p>Докажите, что данная сеть Петри является ограниченной и живой.</p></div>
        <div class="center"><img src="default/SP1.jpg" class="w3-image" width="200" height="200"  alt=""></div>
    </div>
     <div class="w3-container">
        <div class="w3-left-align"><p>Найдите полный поток для следующей транспортной сети и докажите, что он максимален.</p></div>
        <div class="w3-display-center"><img src="default/Screen Shot 2022-05-28 at 12.51.00 PM.png" class="w3-image" width="1642" height="638"  alt=""></div>
    </div>
     <div class="w3-container">
        <div class="w3-left-align"><p>Определите входные и выходные сигналы нейронов в данной сети.</p></div>
        <div class="w3-display-center"><img src="default/Screen Shot 2022-05-28 at 12.48.30 PM.png" class="w3-image" width="1470" height="760"  alt=""></div>
    </div>
    </body>
</html>